*{
  font-family: 'Courier New', Courier, monospace;
}

.footer{
  z-index: 2 !important;
  width: 100%;
}

.social-media-bar{
  display: flex;
  background-color: rgb(211, 54, 36);
  justify-content: space-around;
  height: 65px;
}

.social-media-bar h6{
  margin: auto 0;
  color: white;
  margin-right: 15%;
  margin-left: 20px;
}

.social-media-icon{
  margin: auto 0;
  margin-left: 15%;
}

.social-media-icon a img{
  height: 20px;
  margin-right: 20px;
  width: 25px;
}

.social-media-icon a img:hover{
  opacity: 40%;
}

.footer-content{
  background-color: rgb(192, 192, 192);
  padding: 50px;
  justify-content: space-evenly;
  display: flex;
  height: 350px;
  color: white;
}

.company-info h4{
  font-weight: 550;
  width: 250px;
}

.comp-info-hr{
  width: 100px;
  margin-left: 0px;
  margin-top: -5px;
  border-top: 2px solid red;
}

.provide{
  display: flex;
}

.logo-icon{
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.download-icon{
  width: 300px;
  margin-top: 40px;
}

.question-list{
  margin-left: 20px;
  margin-right: 20px;
}

.question-list h4{
  font-weight: 550;
}

.question-list li a{
  text-decoration: none;
  color: white;
  line-height: 40px;
  margin-left: 20px;
}

.contact{
  width: 400px;
}

.contact h4{
  font-weight: 550;
}

.location{
  display: flex;
  margin-top: 20px;
}

.home-icon{
  height: 20px;
}

.location p{
  margin-top: -4px;
  margin-left: 15px;
  text-align: justify;
}

.mail{
  margin-top: -10px;
}

.mail-icon{
  height: 20px;
}

.mail a{
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

.phone{
  margin-top: 15px;
}

.phonenumber{
  display: flex;
}

.phone-icon{
  height: 20px;
}

.phone p{
  text-align: left !important;
  margin-left: 25px;
}

.copyright{
  height: 50px;
  background-color: rgb(167, 167, 167);
  color: white; 
  display: flex;
}

.copyright p{
  margin: auto 0;
  margin-left: 20px;
}

.copyright a{
  color: white;
  margin: auto 0;
}

.copyright a:hover{
  color: rgb(255, 0, 0);
  text-decoration: none;
}

@media (max-width: 1280px) {
  .footer{
      width: 1280px;
  }
}

@media (max-width:990px){
  .footer{
    width: 980px;
  }

  .footer-content{
    height: 585px;
    position: relative;
  }

  .company-info{
    width: 500px;
    margin-left: 25px;
    margin-right: 100px;
  }

  .question-list{
    position: absolute;
    left: 48px;
    top: 320px;
  }


}
  /* .footer-content{
    height: 750px;
    flex-direction: column;
    text-align: center;
  }

  .comp-info-hr{
    margin: 10px auto;
    width: 150px;
  }
  

  .company-info{
    margin-bottom: 30px;
  }

  .company-info h4, .question-list h4, .contact h4, .phone h4{
    margin: 0 auto;
  }

  .provide{
    justify-content: center;
  }

  .provide img{
    width: 150px;
  }

  .download-icon{
    width: 250px;
    margin-top: 20px;
  } 
  
  .question-list{
    margin-bottom: 0px;
  }

  .contact{
    margin: 0 auto;
  }

  .mail{
    text-align: left;
    margin-bottom: 20px;
  }

  .phone-icon{
    margin: 0 auto;
  }

  .phonenumber p{    
    margin: 0 auto;
    margin-left: 0px;
  }

  .social-media-icon{
    margin-left: 0;
    margin-right: 0px;
  }

  .social-media-bar{
    text-align: center;
    flex-direction: column;
    height: 90px;
  }

  .social-media-icon{
    margin-top: -10px;
  }

  .social-media-bar h6{
    margin-right: 0%;
    margin-left: 0px;
  }

}

@media (max-width:582px){
  .footer-content{
    height: 800px;
  }
}

@media (max-width:540px){
  .footer-content{
    height: 850px;
  }
} */